@model WebAppWood.Models.ModelCipres

@{
    ViewBag.Title = "DetailWood";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>DetailWood</h2>

<div>
    <h4>ModelCipres</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consecutivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consecutivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PMT1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PMT1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PMT2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PMT2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PMT3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PMT3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargoPulgadas1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LargoPulgadas1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargoPulgadas2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LargoPulgadas2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargoPulgadas3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LargoPulgadas3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargoMetrosNetos1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LargoMetrosNetos1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargoMetrosNetos2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LargoMetrosNetos2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargoMetrosNetos3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LargoMetrosNetos3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargoMetrosBruto1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LargoMetrosBruto1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargoMetrosBruto2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LargoMetrosBruto2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargoMetrosBruto3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LargoMetrosBruto3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Talla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Talla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmalianNeto1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmalianNeto1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmalianNeto2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmalianNeto2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmalianNeto3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmalianNeto3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiametroPromedio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiametroPromedio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
