@model WebAppWood.Models.ModelOtherWood

@{
    ViewBag.Title = "DetailWood";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>DetailWood</h2>

<div>
    <h4>ModelOtherWood</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consecutivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consecutivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargosMetros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LargosMetros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Talla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Talla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoppus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoppus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Girth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Girth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
