@model WebAppWood.Models.ModelOtherWood

@{
    ViewBag.Title = "InsertTroza";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>InsertTroza</h2>
<div>
    <form class="contact-form" action="/Otros/InsertTroza" method="post">
        <div class="form-group">
            <input class="form-control" type="hidden" readonly name="id" value="@Model.Vendedor">
            <div style="border: 1px solid #2c77ba; border-radius: 5px; margin: 1% 5%;padding:15px; overflow:auto">
                <div class="col-sm-6">
                    <label class="col-sm-3 control-label">Vendedor</label>
                    <input class="col-sm-4" type="text" readonly name="Nombre" value="@Model.Nombre">
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-3 control-label">Vendedor</label>
                    <input class="col-sm-4" type="text" readonly name="Tipo" value="@Model.Tipo">
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-3 control-label">Cedula</label>
                    <input class="col-sm-4" type="text" readonly name="Cedula" value="@Model.Cedula">
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-3 control-label">Codigo</label>
                    <input class="col-sm-4" type="text" readonly name="Codigo" value="@Model.Codigo">
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-3 control-label">Inicio Consecutivo</label>
                    <input class="col-sm-4" type="text" readonly name="Consecutivo" value="@Model.Consecutivo">
                </div>
                <div class="col-lg-6 input-prepend input-group">
                    <label class="col-sm-3 control-label">Fecha</label>
                    <input type="text" class="col-sm-4" data-provide="datepicker" placeholder="Datepicker" name="Fecha" value="@Model.FechaIngreso.ToShortDateString()">
                </div>

            </div>
            <div class="col-sm-5" style="border: 1px solid #2c77ba; border-radius: 5px; margin: 1% 5%;padding:15px;">
                <div class="col-sm-12">
                    <label class="col-sm-4 control-label">Largo Metros</label>
                    <input type="number" step="0.001" class="col-sm-4" name="LargosMetros">
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-4 control-label">Girth</label>
                    <input type="number" step="0.001" class="col-sm-4" name="Girth">
                </div>
                <div class="form-group col-sm-5" style="margin:3px; padding-right:15px;">
                    <button type="submit" class="btn btn-xl btn-block btn-primary" style="border-radius:5px; margin:1px">Send</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-6">
    <h3>Ultimo ingreso de G-Melina</h3>
    <table class="tableMedidaArbol col-sm-12">
        <tr>
            <th>
                Consecutivo
            </th>
            <th>
                Codigo
            </th>
            <th>
                Tipo
            </th>
            <th>
                Largo Metros
            </th>
            <th>
                Hoppus
            </th>
            <th>
                Girth
            </th>
            <th>
                Talla
            </th>
            <th>
                Fecha Ingreso
            </th>
        </tr>

        @foreach (var item in Model.ListaOtros)
            {
            <tr>
                <td>
                    @item.id
                </td>
                <td>
                    @item.Codigo @item.Consecutivo
                </td>
                <td>
                    @if (item.Tipo == 2)
                    {
                        <text> G-Melina</text>
                    }
                    else if (item.Tipo == 3)
                    {
                        <text> Pino </text>
                    }
                    else if (item.Tipo == 4)
                    {
                        <text> Teca </text>
                    }

                </td>

                <td>
                    @item.LargosMetros
                </td>
                <td>
                    @item.Hoppus
                </td>
                <td>
                    @item.Girth
                </td>
                @if (item.Talla.Equals("Amarillo") == true)
                {
                    <td style="background-color:#f1f10c;color:black;font-size:16px;text-align:center;border:1px solid #000;">
                        @Html.DisplayFor(modelItem => item.Talla)
                    </td>
                }
                else if (item.Talla.Equals("Verde") == true)
                {
                    <td style="background-color:#35a442;color:White;font-size:16px;text-align:center;border:1px solid #000;">
                        @Html.DisplayFor(modelItem => item.Talla)
                    </td>
                }
                else if (item.Talla.Equals("Azul") == true)
                {
                    <td style="background-color:#2325ac; color:white;font-size:16px;text-align:center;border:1px solid #000;">
                        @Html.DisplayFor(modelItem => item.Talla)
                    </td>
                }
                else
                {
                    <td>
                        @item.Talla
                    </td>
                }
                <td>
                    @item.FechaIngreso.ToShortDateString()
                </td>
            </tr>
        }

    </table>
</div>
